/* src/pages/Home/Home.css */
.home-container {
  padding: 1.5rem;
  background-color: #e6e8cd;
  color: #003460;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}
